.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}

a                         {text-decoration:none; color:blue;}
a:hover, a:visited        {color:blue;}

ul {margin:0px;padding:0px;list-style-type:none}
ul li {padding:0px;margin:0px;position:relative;}

body {
    background-color:#F3F3F3;
}

#wrapper{
    border-right:1px solid #E1E1E1;
    border-bottom:1px solid #CCC;
    margin: 20px auto;
    width: 960px;
}

#main {
    border:1px solid #EEE;
    background-color:#FFF;
    padding:20px;
}

#main_col {display:inline-block;width:540px;}
#secondary_col {display:inline-block;width:360px;float:right;}

ul.main_links, ul.working_links {
    border: 1px solid #E1E1E1;
    font-size:1.2em;
}

ul.main_links li, ul.working_links li {
    margin-bottom:20px;
    line-height: 1.1em;
}


ul.working_links a {color:#999;}

span.whole_url {font-size:0.8em; font-style:italic;}
span.whole_url a{color:#444;text-decoration:underline;}