%h2 links for #{@user.login}

- form_for Link.new do |f|
    =f.label :url
    =f.text_field :url
    =submit_tag :add, :class => 'button'
- @links.each do |l|
    = link_to l.title, l.url
    = link_to 'delete', link_path(l), :method => 'delete'