%h2 links for #{@user.login}

- form_for Link.new do |f|
    =f.label :url
    =f.text_field :url
    =button_submit_tag :add

%ul.links
    - @links.each do |l|
        %li
            = link_to l.title, l.url
            = danger_trash_button_link_to 'delete', link_path(l), :method => 'delete', :class => ''